fastapi
uvicorn[standard]
sqlalchemy>=1.4
asyncpg>=0.27
databases[postgresql]>=0.5
alembic>=1.7
psycopg2-binary>=2.9
pydantic
granian
python-multipart
pdfplumber
python-docx
openai
tiktoken
PyJWT 
spacy 
slowapi 
pyclamd 
httpx 